{extend name='public/base' /}
{block name='style'}
<style>
    .answer{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        max-width: 200px !important;
    }

</style>
{/block}
{block name='body'}
<table class="layui-table layui-form">
    <colgroup>
        <col width="80">
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="150">
        <col width="150">
        <col width="200">
    </colgroup>
    <thead>
    <tr >
        <th class="th">ID</th>

        <th class="th">文章标题</th>

        <th class="th">用户名</th>
        <th class="th abswer_th">内容</th>
        <th class="th">回复用户</th>
        <th class="th">评论id</th>
        <th class="th">创建时间</th>
        <th class="th"> 操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name='user' id='obj'}
    <tr class="id84">
        <td>{$obj->id}</td>
        <td>{$obj.article.title}</td>
        <td>{$obj->nickname}</td>
        <td class="answer">{$obj->content}</td>
        <td>{$obj->parent_name}</td>
        <td>{$obj->comment_id}</td>
        <td>{$obj->create_time}</td>
        <td>
            {if $obj->delete_time !== null}
            <a href="#" class="sendstatus"
               data-id="{$obj->id}" data-status="0" style="color: red">恢复</a>
            {else/}
            <a href="#" class="sendstatus"
               data-id="{$obj->id}" data-status="1">删除</a>
            {/if}

    </tr>
    {/volist}
    </tbody>
</table>
<div class="page">
    {$user|raw}
</div>
{/block}
{block name='script'}
<script>
    $(function (){
        $('.sendstatus').click(function (){
            var id = $(this).attr('data-id'),
                status = $(this).attr('data-status')
            if (status == 1){
                var message = '确定删除吗?'
            }else {
                var message = '确定恢复吗?'
            }
            layer.confirm(message, {
                btn: ['确定', '取消'] //按钮
            }, function (index) {
                layer.close(index)
                $.ajax({
                    url: "{:url('comment/del')}",
                    dataType: 'json',
                    type: 'post',
                    data: {id: id, status: status},
                    success: function (data) {
                        if (data.code === 1) {
                            msg(1, data.msg, data.url, 2)
                        } else {
                            layer.open({
                                title: '失败',
                                content: data.msg,
                                icon: 5,
                                anim: 6
                            })
                        }
                    }
                })
            },function () {
                layer.msg("您取消了删除!");
            });
            return false
        })
    })

</script>
{/block}