{extend name='public/base' /}
{block name='body'}
<!-- 配置文件 -->
<script type="text/javascript" src="/static/common/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/static/common/ueditor/ueditor.all.js"></script>
<form class="layui-form " >
    <input type="text" hidden value="{$user->id}" name="id">
    <div class="layui-form-item">
        <label class="layui-form-label">问题</label>
        <div class="layui-input-inline">
            <input type="text" name="problem" placeholder="{$user->problem}" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">分类</label>
        <div class="layui-input-inline" style="width: 200px">
            <select name="topic_id">
                <option value="0">请选择</option>
                {volist name='cate' id='obj'}
                <option {if $obj->id === $user->topic_id}
                    selected
                    {/if}
                    value="{$obj->id}">{$obj->topic}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block" style="width:1000px;">
            <script id="container" name="answer" style="height: 500px" type="text/plain">
                {$user->answer}
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn editarticle" lay-submit lay-filter="submit">立即修改</button>

        </div>
    </div>
</form>
{/block}
{block name='script'}
<script>
    var ue = UE.getEditor('container');
    setTimeout(function () {
        ue.setHeight(500)
    },500)
    layui.use(['form', 'upload'], function () {
        var form = layui.form,
            layer = layui.layer,
            upload = layui.upload;
        $('.editarticle').click(function (){
            $.ajax({
                url:"{:url('problem/edit')}",
                dataType:'json',
                type:'post',
                data:$('form').serialize(),
                success:function (data){
                    if (data.code === 1){
                        layer.msg(data.msg,{
                            icon:6,
                            time:2000
                        },function (){
                            location.href = data.url
                        })
                    }else {
                        layer.open({
                            title:'失败',
                            content:data.msg,
                            icon:5,
                            anim:6
                        })
                    }
                }
            })
            return false
        })
    });
</script>


{/block}